<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Version>3.15</Version>
    <Settings>
        <Language>EN</Language>
        <AutoStart>false</AutoStart>
        <CheckUpdates>false</CheckUpdates>
    </Settings>
    <Device>
        <Type>FP650</Type>
        <Port>COM1</Port>
        <BaudRate>9600</BaudRate>
    </Device>
</Configuration>
